<div class="list" ng-controller='TaskListController'>	
	<div class="text-center">
		<a class="button" href="#/addtask">Add Task</a>	
	</div>
  <div class="row">
    <div class="large-offset-1 large-3 columns">
        <form>
          <input ng-model="all" ng-click="clickevent()" type="radio" name="count" value="all">All Tasks
          <br>
          <input ng-model="all" type="radio" ng-click="clickevent()" name="count" value="completed">Completed Tasks
          <br>
          <input ng-model="all" type="radio" ng-click="clickevent()" name="count" value="pending" checked>Pending Tasks
        </form>
    </div>
    <div class="large-3 columns">
        <form>
          <label>Sort by:</label>
          <select ng-model="dropdown" ng-change="sortclick()">
            <option value="name">Task Name</option>
            <option value="assignedUserName">Username</option>
            <option value="dateCreated">Date Created</option>
            <option value="deadline">Deadline</option>
          </select>  
        </form>
    </div>
    <div class="large-offset-1 large-3 columns end">
        <form>
          <label>Order by:</label>
          <input type="radio" ng-click="orderclick()"name="order" ng-model="ordersort" value="Ascending">Ascending
          <br>
          <input type="radio" ng-click="orderclick()"name="order" ng-model="ordersort" value="Descending">Descending
        </form>
    </div>
  </div> 
  <br>
  <div class="row">
    <div class="large-5 columns text-center"><button ng-click="prev()">Previous</button></div>
    <div class="large-2 columns text-center"><p>{{ct}} Tasks</p><p>Page No: {{currpage}}</p></div>
    <div class="large-5 columns text-center"><button ng-click="next()">Next</button></div>  
  </div>
  <div class="row">
    <div class="large-12 columns">
	     <table style="width:100%;">
  		    <thead>
    		    <tr>
      			   <th class="text-center">Name</th>
               <th class="text-center">UserID</th>
      			   <th class="text-center">User</th>
      			   <th class="text-center"></th> 
      			</tr>
  		    </thead>
  		    <tbody>
    		    <tr ng-repeat="task in currtasks">
    			     <th class="text-center" ><a href="#/taskview/{{task._id}}">{{task.name}}</a></th>
               <th class="text-center">{{task._id}}</th>
      			   <th class="text-center">{{task.assignedUserName}}</th>
      			   <th class="text-center"><button ng-click="deletetask(task)">Delete Task</button></th>
      	   </tr>
          </tbody>
       </table>
    </div>
  </div>
</div>
