<div class="list" ng-controller='TaskListController'>	
	<div class="text-center">
		<a class="button" href="#/addtask">Add Task</a>	
	</div>
	<table style="width:100%;">
  		<thead>
    		<tr>
      			<th class="text-center">Name</th>
      			<th class="text-center">Description</th>
      			<th class="text-center">Deadline</th>
      			<th class="text-center">Completed</th>
      			<th class="text-center">User</th>
      			<th class="text-center">Date Created</th>
      			<th class="text-center"></th> 
      			
    		</tr>
  		</thead>
  		<tbody>
    		<tr ng-repeat="task in tasks">
    			<th class="text-center" >{{task.name}}</th>
      			<th class="text-center">{{task.description}}</th>
      			<th class="text-center">{{task.deadline}}</th>
      			<th class="text-center">{{task.completed}}</th>
      			<th class="text-center">{{task.assignedUserName}}</th>
      			<th class="text-center">{{task.dateCreated}}
      			<th class="text-center"><button>Delete Task</button></th>
      		</tr>
      	</tbody>
    </table>
</div>
